[buildout]
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.x.cfg

package-name = Products.CMFDynamicViewFTI
package-extras = [test]

parts += omelette

[versions]
Products.CMFDynamicViewFTI = 
plone.app.testing = 4.2.5

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
